@media only screen and (max-width: 600px) {
  .flex-container {
    display: block;
    margin: 0 auto;
  }

  .logo {
    height: 4em;
  }

  .footer-links {
    flex-direction: column;
  }

  .flex-item {
    margin-left: 0;
  }

  .services {
    font-size: 30px;
  }

  .ourServices, .portfolio {
    margin: 0;
    padding: 0;
  }

  .residential, .renovation {
    margin-left: 0;
    margin-bottom: 0;
    font-size: medium;
  }

  .welcome, .friend {
    font-size: small;
    text-wrap: wrap;
    margin: 10px;
  }

  .tradeMark {
    height: 100px;
    width: 150px;
  }

  .imageItem {
    width: 33.33%; /* Set each container to occupy one-third of the width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Add padding around each container */
    text-align: center; /* Center the content horizontally within the container */
  }
  
  .frontPics {
    height: 300px; /* Set a fixed height for all images */
    width: 100%; /* Ensure images take up full width of their container */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    border-radius: 1em; /* Optional: Add rounded corners */
  }

  .LCText {
    margin-left: 0;
    font-size: medium;
  }
}