body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
  margin: 0;
  overflow: auto;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #666;
  padding: 0.5em;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 150px; /* Set the height of the footer */
}